<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="page-header">
    <h1><%= @product.title %><small> Back to basics</small></h1>
</div>
<div class="row">
  <div class="span7">
    <div id="product-pic">
      <%= image_tag(@product.image_url, :width => '250') %>
    </div>

    <div id="details">
          <h4>Only <%= number_to_currency( @product.price ) %></h4>
          <p>The "Acme" model is hand made in the U.S.A. from resonant plywood, finished with a herringbone texture.  Made with sustainable glues and materials.</p>
          <p>This kit includes:</p>
          <ul>
              <li>hand-built plywood suitcase with a herringbone finish</li>
              <li>custom made stand for suitcase and kick pedal attachment</li>
          </ul>
          
          <p>Additional options:
          <select>
              <option>None</option>
              <option>Add Cymbal mount — $20.00</option>
              <option>Add Cymbal arm — $25.00</option>
          </select>
          </p>
          <%= button_to 'Add to Cart', line_items_path(product_id: @product), remote: true, method: :post, class: "btn btn-large btn-warning" %>
    </div>
  </div>
  <div id="sidecontainer" class="span5">
    <% if @cart %>
    <div id="side"
      
        <% if @cart.line_items.empty? %>
          style="display: none"
        <% end %>

    >
      <div id="shopcart">
        <%= render @cart %> 
      </div>
    </div>
    <% end %>
  </div>
</div>         




